body {
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('game.jpg');
}

.target {
    background-color: rgb(35, 108, 255);
    border: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

